<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image classification example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/custom.js"></script>
    <script src="js/nutrition.js"></script>

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">


</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Apache Spark - Image Classification</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="NutritionController">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Image Class Prediction</h1>
            </div>
            <div class="row inputRow">
                <div class="col-md-4 thumb">
                    <a class="thumbnail" href="#">
                        <img id="img_plc" class="img-responsive" src="Caltech_101/test/frenhfires/20215.jpg" alt="image" />
                    </a>
                </div>
                <div class="col-md-1 text-center ver-centr">
                    <input class="vertical-center" id="clk" type="button" value="Predict" />
                    <button id="nutritionBtn"
                            style="display:none"
                            class="vertical-center"
                            value="Nutrition"
                            ng-click="getNutrition()">Nutrition</button>
                </div>

                <div class="col-md-4">
                    <h3 id="txt_area">
                        <h3>Calories: <label id="calorieValue">{{ calories }}</label></h3>
                        <h3>No of Servings: <label id="noOfServingsValue">{{ noOfServings }}</label> </h3>
                        <div>
                        <!--<table border="3">-->
                            <!--<tr>-->
                                <!--<th> CLARIFAI </th>-->
                                <!--<th> SPARK </th>-->
                                <!--<th> TENSORFLOW </th>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td> Accuracy: </td>-->
                                <!--<td> Accuracy: </td>-->
                                <!--<td> Accuracy: </td>-->
                            <!--</tr>-->
                        <!--</table>-->
                        <!--<li id="nutritionTable" ng-repeat="nSearch in nutritionresults">-->
                            <!--<table class="w3-table w3-striped w3-border w3-centered w3-card-4">-->
                                <!--<tr>-->
                                    <!--<th class="w3-indigo" colspan="2">-->
                                        <!--<h3>Food Nutrition Details :</h3>-->
                                    <!--</th>-->
                                <!--</tr>-->
                                <!--<tr class="w3-white">-->
                                    <!--<td>-->
                                        <!--Servings-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{{nSearch.nf_serving_size_qty}}-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--Total Calories-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{{nSearch.nf_calories}}-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr style="background-color: #fff !important;">-->
                                    <!--<td>-->
                                        <!--Total Fat-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{{nSearch.nf_total_fat}}-->
                                    <!--</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</li>-->
                    </div>
                    </h3>
                    <img id="meow" src="Caltech_101/animal.gif" alt="O" style="display:none">
                </div>

            </div>

            <h4>Select an Image:</h4>


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/donut/3214831.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/donut/3570357.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" name="Image" src="Caltech_101/test/donut/3766515.jpg" alt="">
            </a>
        </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/donut/3879821.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/dumplins/35788.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/dumplins/65880.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/dumplins/138088.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/dumplins/266283.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/frenchfries/20215.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/frenchfries/80315.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/frenchfries/112309.jpg" alt="">
                </a>
            </div>


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/frenchfries/203924.jpg" alt="">
                </a>
            </div>


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/hotdogs/5079.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/hotdogs/59263.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/hotdogs/106882.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/hotdogs/138933.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/sushis/537978.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/sushis/641266.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/sushis/700405.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="Caltech_101/test/sushis/725951.jpg" alt="">
                </a>
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


</body>

</html>